body.light {
    background-color: #f5f5f5;
    color: #222222;
}

body.dark {
    background-color: #222222;
    color: #f5f5f5;
}

body {
    padding: 20px;
    margin: 0;
    border: 0;
    background-color: #f5f5f5;
    transition: all 0.3s;
}

h1 {
    color: inherit;
    font-size: 25px;
}
#header.dark {
    background: none repeat scroll 0 0 #272727;
}
#header.light {
    background: none repeat scroll 0 0 #F0F0E9;
}